{% extends 'layout.html' %}

{% block body %}
  <h1>Knapsack Data with Backtracking Algorithm</h1>
  <a class="btn btn-success" href="/add_knapsack"> Add Data</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Part Number</th>
      <th>W</th>
      <th>P</th>
      <th></th>
      <th></th>
      
    </tr>
    {% for knapsack in knapsack %}
      <tr>
        <td>{{knapsack.part_number}}</td>
        <td>{{knapsack.W}}</td>
        <td>{{knapsack.P}}</td>
                
        <td><a href="edit_knapsack/{{knapsack.W}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_knapsack', W=knapsack.W)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
